<div class="item container-fluid shadow-sm justify-content-center" *ngFor="let item of courseBriefs | paginate: { itemsPerPage: perPage, currentPage: current }">
    <a class="card" routerLink="/course/{{ item.id }}">
        <div class="d-flex align-items-center justify-content-end">
            <i class="material-icons">
                menu_book
            </i>
            <div class="card">
                <div class="card-row header">
                    {{ item.name }}
                </div>
                <div class="card-row owner" *ngIf="showOwner">
                    Prowadzi: <a routerLink="/user/{{ item.owner.id }}"> {{ item.owner.name }} {{ item.owner.surname }} </a>
                </div>
            </div>
            <i class="material-icons">
                keyboard_arrow_right
            </i>
        </div>
    </a>
</div>
<div class="row justify-content-center">
    <pagination-controls nextLabel="następna" previousLabel="poprzednia" (pageChange)="current = $event"></pagination-controls>
</div>