.item {
    margin-bottom: 1em;
    border: solid 1px rgb(230, 230, 230);
}
::ng-deep li.pagination-next > a:focus, ::ng-deep li.pagination-previous > a:focus {
    outline: 0;
}

.card {
    padding: 5px 0;
    margin-left: 10px;
    width: 100%;
    border: none;
    background-color: transparent;
}

.header {
    font-size: 16pt;
    font-weight: bold;
}

.owner {
    font-style: italic;
    color: gray;
}

i {
    font-size: 48px;
}

.item:hover {
    cursor: pointer;
    background-color: rgb(230, 230, 230);;
}

a.card {
    color: black;
    text-decoration: none;
}