<div class="container-fluid w-100" *ngIf="!fetchError">
    <div class="card-row justify-content-center" *ngFor="let item of collection | paginate: { itemsPerPage: perPage, currentPage: current, totalItems: total }">
        <app-news-card [news]="item"></app-news-card>
    </div>
    <div class="row justify-content-center">
        <pagination-controls nextLabel="następna" previousLabel="poprzednia" (pageChange)="PageChanged($event)"></pagination-controls>
    </div>
</div>
<app-error-bar *ngIf="fetchError" [errorMessage]="errorMessage"></app-error-bar>
