<div class="card item" [ngClass]="{'overlap': taskSchedule.isOverlap, 'completed': IsCompleted()}" *ngIf="taskSchedule">
    <div class="d-flex align-items-center justify-content-end">
        <i class="material-icons">
            schedule
        </i>
        <div class="card">
            <div class="card-row header" *ngIf="!onTaskPage">
                <a routerLink="{{GetTaskLink()}}" class="card-link"> {{ taskSchedule.task.name }} </a>
            </div>
            <div class="card-row" *ngIf="!onTaskPage">
                Stopień wykonania zadania: <span class="bold">{{ taskSchedule.task.taskCompletion }}%</span>
            </div>
            <div class="card-row" *ngIf="!onTaskPage">
                Z kursu: <span class="bold">{{ taskSchedule.task.courseName }}</span>
            </div>
            <div class="card-row">
                Realizacja planu: <span class="bold">{{ taskSchedule.learningTime.hours }}:{{ taskSchedule.learningTime.minutes | number:'2.0-0' }}</span>&nbsp;/&nbsp;<span class="bold">{{ taskSchedule.plannedTime.hours }}:{{ taskSchedule.plannedTime.minutes | number:'2.0-0' }}</span>
            </div>
            <div class="card-row" *ngIf="onTaskPage">
                Data: <span class="bold">{{ taskSchedule.date | date:'dd.MM.yyyy' }}</span>
            </div>
            <div class="card-row" *ngIf="taskSchedule.scheduleTime" [ngClass]="{'text-danger': taskSchedule.isOverlap}">
                Godzina: <span class="bold">{{ taskSchedule.scheduleTime }}</span>&nbsp;-&nbsp;<span class="bold">{{ taskSchedule.endScheduleTime }}</span>
            </div>
        </div>
        <button (click)="learn.emit()" *ngIf="buttons.includes('learn')" class="btn d-flex align-items-center justify-content-center" (click)="$event.stopPropagation()" title="Wykonuj zadanie" [ngClass]="(taskSchedule.task.isLearnable) ? 'btn-primary' : 'btn-secondary'" [disabled]="!taskSchedule.task.isLearnable">
            <i class="material-icons">
                play_arrow
            </i>
        </button>
        <div class="separator" *ngIf="buttons.includes('learn')"></div>
        <button (click)="edit.emit()" *ngIf="buttons.includes('edit')" class="btn btn-success d-flex align-items-center justify-content-center" (click)="$event.stopPropagation()" title="Edytuj wpis">
            <i class="material-icons">
                edit
            </i>
        </button>
        <div class="separator" *ngIf="buttons.includes('edit')"></div>
        <button (click)="remove.emit()" *ngIf="buttons.includes('remove')" class="btn btn-danger d-flex align-items-center justify-content-center" (click)="$event.stopPropagation()" title="Usuń z planu">
            <i class="material-icons">
                remove
            </i>
        </button>
    </div>
</div>