<app-error-bar *ngIf="error" [errorMessage]="errorMessage"></app-error-bar>
<h2 *ngIf="course">{{ course.name }}</h2>
<div class="header">
    <a class="d-flex align-items-center" routerLink="/my-courses">
        <i class="material-icons">keyboard_backspace</i>
        Powrót do moich kursów</a>
</div>
<div class="d-flex bd-highlight flex-wrap" *ngIf="!error">
    <div class="menu bd-highlight shadow" *ngIf="course">
        <div class="menu-title d-flex align-items-center justify-content-center" [ngStyle]="{'margin-bottom': (innerWidth < 840 && !menuVisible) ? '0' : '10px'}" (click)="menuVisible = !menuVisible">Nawigacja po kursie
            <i *ngIf="innerWidth < 840" class="material-icons">keyboard_arrow_down</i></div>
       <div *ngIf="innerWidth > 840 || menuVisible">
            <button class="nav-banner">
                Sekcje kursu
            </button>
            <ul>
                <li>
                    <a href="/course/{{ course.id }}">Informacje</a>
                </li>
                <li>
                    <a href="/course/{{ course.id }}/calendar">Kalendarium</a>
                </li>
                <li>
                    <a href="/course/{{ course.id }}/board">Tablica wpisów</a>
                </li>
                <li>
                    <a href="/course/{{ course.id }}/paths">Ścieżki</a>
                </li>
            </ul>

            <button class="nav-banner">
                Zarządzanie kursem
            </button>

            <ul *ngIf="IsCurrentUserStudent()">
                <li>
                    <a href="/course/{{ course.id }}/participants">Lista uczestników</a>
                </li>
                <li>
                    <a href="/course/{{ course.id }}/sign-out">Wypisz się z kursu</a>
                </li>
            </ul>
            <ul *ngIf="IsCurrentUserTeacher()">
                <li>
                    <a href="/course/{{ course.id }}/participants">Lista uczestników</a>
                </li>
                <li>
                    <a href="/course/{{ course.id }}/update">Ustawienia kursu</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="content-container flex-grow-1 justify-content-center">
        <router-outlet></router-outlet>
    </div>
</div>
