@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
.bg {
    background: linear-gradient(150deg, rgb(78, 103, 247) 15%, #05d5ff 60%, #8bffcf 80%);
    width: 100%;
    height: 250px;
    margin: 10px 0;
}
.logo {
    margin: 0 10%;
    display: flex;
}
div.logo > h1 {
    font-family: 'Architects Daughter', cursive;
    margin-left: 10px;
}