.card {
    max-width: 900px;
    padding: 1em;
    border-radius: 0;
    box-shadow: 0 .5rem .5rem rgba(0,0,0,.15)!important;
    margin: 0 auto;
}

.card:hover {
    background: rgba(100,100,100,.05);

}

.card-title {
    font-size: 20pt;
    font-weight: bold;
    border-bottom: solid 1px gray;
}

a.title {
    color: black;
}

.card-subtitle {
    text-align: right;
    font-style: italic;
    color: gray;
}

.card-text {
    margin: .5em 0;
    padding-left: .5em;
}

.card-link {
    text-align: right;
}