<div class="container justify-content-center">
    <header class="h3 text-center">Czasomierz</header>
    <p>Czasomierz ma na celu pomóc w rejestrowaniu czasu nauki. Czasomierze są oddzielne dla każdego użytkownika oraz <span class="text-danger">NIE synchronizują się między urządzeniami</span>.</p>
    <app-error-bar *ngIf="error" [errorMessage]="errorMessage"></app-error-bar>
    <div *ngIf="scheduleRecord" class="task-info">
        <div class="h5">Aktualne zadanie: {{ scheduleRecord.task.name }}</div>
        <div >Zaplanowany czas nauki: <span class="bold">{{ scheduleRecord.plannedTime.hours }}:{{ scheduleRecord.plannedTime.minutes | number:'2.0-0' }}</span></div>
        <div >Zrealizowany wcześniej czas nauki: <span class="bold">{{ scheduleRecord.learningTime.hours }}:{{ scheduleRecord.learningTime.minutes | number:'2.0-0' }}</span></div>
        <a routerLink="/learn/{{ scheduleRecord.id }}">Przejdź do wpisu w planie</a>
    </div>
    <div class="timer-main d-flex flex-column" *ngIf="timer && currentTime &&!saveTimer">
        <div class="d-flex align-items-center justify-content-center flex-wrap">
            <div class="digit-container">{{ currentTime.hours | number:'2.0-0' }}</div>
            <div class="digit-separator align-self-center">:</div>
            <div class="digit-container">{{ currentTime.minutes | number:'2.0-0' }}</div>
            <div class="digit-separator align-self-center">:</div>
            <div class="digit-container">{{ currentTime.seconds | number:'2.0-0' }}</div>
        </div>
        <div class="d-flex buttons align-items-center justify-content-center flex-wrap">
            <div *ngIf="isRunning">
                <button (click)="OnPause()" class="btn btn-secondary d-flex"><i class="material-icons">pause</i></button>
            </div>
            <div *ngIf="isPaused" class="d-flex">
                <button (click)="OnResume()" class="btn btn-primary d-flex"><i class="material-icons">play_arrow</i></button>
                <div class="separator"></div>
                <button (click)="OnStop()" class="btn btn-danger d-flex"><i class="material-icons">stop</i></button>
            </div>
            <div *ngIf="isStopped" class="d-flex">
                <button (click)="OnSave()" class="btn btn-success d-flex"><i class="material-icons">save</i></button>
                <div class="separator"></div>
                <button (click)="OnDelete()" class="btn btn-danger d-flex"><i class="material-icons">delete</i></button>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center" *ngIf="saveTimer">
        <app-record-learning
            [schedule]="scheduleRecord"
            [startTime]="startTime"
            [defaultTime]="TimeForForm"
            (cancel)="saveTimer = false"
            (apply)="OnLearnRecord($event)"
        ></app-record-learning>
    </div>
</div>