nav {
    height: 60px;
}

main {
    margin-top: 60px;
    width: 100%;
}

.nav-menu {
    width: 100%;
}

.nav-menu-elements {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

footer {
    margin-top: 20px;
    text-align: center;
}

.acrylic {
    background-image: url("/assets/acryllicBg.png");
    background-repeat: repeat;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.6);
}

.navbar-brand {
    font-size: 18pt;
    color: black;
}

.content {
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (min-width: 1500px) {
    .content {
        width: 80vw;
        max-width: 80vw;
    }
}

@media only screen and (max-width: 1500px) {
    .nav-menu-elements {
        width: 100%;
    }
}