nav {
    height: 60px;
}

main {
    margin-top: 80px;
    width: 100%;
}

.nav-menu {
    width: 100%;
}

.nav-menu-elements {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

footer {
    margin-top: 20px;
    text-align: center;
}

.acrylic {
    background-image: 'assets/acrylicBg.png';
    background-repeat: repeat;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.6);
}

.navbar-brand {
    font-size: 18pt;
    color: black;
}

.content {
    width: 80%;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}