.nav-banner {
    width: 100%;
    font-size: 13pt;
    padding: 7px 0;
    text-align: center!important;
    border: solid lightgray;
    border-width: 1px 0;
    font-weight: bold;
    text-align: left;
    background: radial-gradient(circle, rgba(194,233,248,1) 0%, rgba(216,241,251,1) 46%, rgba(224,238,244,1) 90%, rgba(255,255,255,1) 100%);
    background-color: rgb(194, 233, 248); 
}

.nav-banner:focus {
    outline: 0;
}


ul {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
    text-align: center;
    border-bottom: solid lightgray 1px;
}

a {
    padding: 10px 0;
    text-decoration: none;
}


li:hover {
    background:  aliceblue;
}