<button class="nav-banner" *ngIf="isCurrentUserAdmin()">
    Panel adminstratora
</button>
<ul *ngIf="isCurrentUserAdmin()">
    <li>
        <a href="/news/compose">Dodaj nowy artykuł na stronę główną</a>
    </li>
</ul>

<button class="nav-banner" *ngIf="isCurrentUserStudent()">
    Panel ucznia
</button>
<ul *ngIf="isCurrentUserStudent()">
    <li>
        <a href="/my-courses">Moje kursy</a>
    </li>
    <li>
        <a href="/teachers">Znajdź nauczyciela</a>
    </li>
</ul>


<button class="nav-banner" *ngIf="isCurrentUserTeacher()">
    Panel nauczyciela
</button>
<ul *ngIf="isCurrentUserTeacher()">
    <li>
        <a href="/my-courses">Moje kursy</a>
    </li>
    <li>
        <a href="/new-course">Utwórz nowy kurs</a>
    </li>
</ul>


<button class="nav-banner">
    Twoje konto
</button>
<ul *ngIf="!userService.GetCurrentUser()">
    <li>
        <a href="/login">Zaloguj się</a>
    </li>
    <li>
        <a href="/register">Zarejestruj się</a>
    </li>
</ul>

<ul *ngIf="userService.GetCurrentUser()">
    <li *ngIf="!isCurrentUserAdmin()">
        <a href="/user/{{ userService.GetCurrentUser().id }}{{ GetBackUrlParam() }}">Mój profil</a>
    </li>
    <li>
        <a href="/messages">Wiadomości</a>
    </li>
    <li *ngIf="!isCurrentUserAdmin()">
        <a href="/user/settings">Ustawienia konta</a>
    </li>
    <li>
        <a href="/logout">Wyloguj</a>
    </li>
</ul>
