.nav-banner {
    width: 100%;
    font-size: 13pt;
    padding: 7px 0;
    text-align: center!important;
    border: solid lightgray;
    border-width: 1px 0;
    font-weight: bold;
    text-align: left;
    cursor: pointer;
    background-color: rgb(194, 233, 248);
}

.nav-banner:focus {
    outline: 0;
}


ul {
    padding: 0;
    margin: 0;
}

li {
    padding: 10px 0;
    list-style-type: none;
    text-align: center;
    border-bottom: solid lightgray 1px;
}


li:hover {
    background-color: aliceblue;
}