<button class="nav-banner" *ngIf="isCurrentUserAdmin()">
    Panel adminstratora
</button>
<div class="container">
    <ul *ngIf="isCurrentUserAdmin()">
        <li>
            <a routerLink="/news/add">Dodaj nowy artykuł na stronę główną</a>
        </li>
    </ul>
</div>

<button class="nav-banner" *ngIf="isCurrentUserStudent()">
    Panel ucznia
</button>


<button class="nav-banner" *ngIf="isCurrentUserTeacher()">
    Panel nauczyciela
</button>


<button class="nav-banner">
    Twoje konto
</button>
<div class="container">
    <ul *ngIf="!userService.GetCurrentUser()">
        <li>
            <a routerLink="/login">Zaloguj się</a>
        </li>
        <li>
            <a routerLink="/register">Zarejestruj się</a>
        </li>
    </ul>

    <ul *ngIf="userService.GetCurrentUser()">
        <li *ngIf="!isCurrentUserAdmin()">
            <a routerLink="/user/{{userService.GetCurrentUser().id}}">Mój profil</a>
        </li>
        <li>
            <a routerLink="/messages">Wiadomości</a>
        </li>
        <li *ngIf="!isCurrentUserAdmin()">
            <a routerLink="/user/settings">Ustawienia konta</a>
        </li>
        <li>
            <a routerLink="/logout">Wyloguj</a>
        </li>
    </ul>
</div>
