@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
.bg {
    background: linear-gradient(150deg, rgb(92, 117, 255) 15%, #49f3ff 60%, #8bffcf 80%);
    height: 200px;
    margin-bottom: 15px;
    padding: 15px;
}

.logo-img {
    width: 100%;
    height: 100%;
    background-image: url("/assets/logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
}

@media only screen and (max-width: 1000px) {
    .bg {
        padding: 5px;
    }
}