.menu {
    margin-right: 25px;
    width: 25%;
    min-width: 250px;
    border: solid rgb(230, 230, 230) 1px;
    padding: 20px 0;
}

.menu-title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 16pt;
}

.content-container {
    padding: 10px;
    border: solid 1px rgb(230, 230, 230);
}