.menu {
    border: solid rgb(230, 230, 230) 1px;
    padding: 10px 0;
    flex: auto;
    min-width: 210px;
}

.menu-title {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 16pt;
    padding-left: 10px;
}

.container {
    margin-left: 15px;
}

.content-container {
    flex: 70%;
    padding: 10px;
    overflow: hidden;
}

@media only screen and (max-width: 700px) {
    .menu {
        margin-bottom: 1em;
        padding: 5px 0;
    }
}