.menu {
    border: solid rgb(230, 230, 230) 1px;
    padding: 10px 0;
    flex: auto;
    min-width: 210px;
}

.menu-title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 16pt;
}

.content-container {
    flex: 70%;
    padding: 10px;
    overflow: hidden;
}

@media only screen and (max-width: 700px) {
    .menu {
        margin-bottom: 1em;
    }

    .content-container {
        padding: 0;
    }
}