.menu {
    border: solid rgb(230, 230, 230) 1px;
    padding: 10px 0;
    width: 20%;
}

.menu-title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 16pt;
}

.content-container {
    width: 80%;
    padding: 10px;
    overflow: hidden;
}

@media only screen and (max-width: 1000px) {
    .menu {
        margin-bottom: 1em;
        width: 100%;
    }

    .menu-title {
        cursor: pointer;
    }

    .content-container {
        padding: 0;
        width: 100%;
    }
}