.main-container {
    max-width: 900px;
    margin: 0 auto;
}

.comment-section {
    margin-top: 1.5em;
}

.card {
    max-width: 900px;
    padding: 1em;
    border-radius: 0;
    box-shadow: 0 .5rem .5rem rgba(0,0,0,.15)!important;
    margin: 10px auto;
}

.card:hover {
    background: rgba(100,100,100,.05);

}

.card-title {
    border-bottom: solid 1px gray;
    font-size: 12pt;
}

span.date {
    color: gray;
    font-style: italic;
    font-weight: normal;
}

.card-text {
    margin: .5em 0;
    padding-left: .5em;
}

.btn {
    padding: 3px 6px;
}